%div.container
  %div.page-heading
    %h1{:align => "center"} Title: #{@article.title}
    %small{:align => "center"} Love what you do, Do what you love
  %div.panel.panel-info
    %div.col-xs_8.col-xs_offset_2
      %ul.mid
        .row.center
          .well.col-md_4.col-md_offset_4
            %li
              =link_to(gravatar_for(@article.user), user_path(@article.user)) if @article.user
            %li.article-title
              =link_to(@article.user.username, user_path(@article.user)) if @article.user
            %li
              %small
                = pluralize(@article.user.articles.count, 'article') if @article.user.articles
      %h3{:align => "center", :class => "description"}
        %strong
          Description:
      %hr
      %blockquote
        #{@article.description}
      %div.article-actions
        -if logged_in? && (current_user == @article.user || current_user.admin?)
          %span{:class => "glyphicon glyphicon-pencil"}
          =link_to "Edit this Article", edit_article_path(@article), class: "btn btn-sm btn-primary"
          %span{:class => "glyphicon glyphicon-remove"}
          =link_to "Delete this article", article_path(@article),
                    method: :delete,
                    data: {confirm: "Are you shure you want to delete the articles"}, class: "btn btn-sm btn-danger"
        %span{:class => "glyphicon glyphicon-file"}
        =link_to "View all Articles", articles_path, class: "btn btn-sm btn-success"
