.container
  = will_paginate
  %h1 All MyBlog Members
  -@users.each do |user|
    %ul.listing
      .row
        .well.col-md_4.col-md_offset_4
          %li
            =link_to gravatar_for(user), user_path(user)
          %li.article-title
            =link_to user.username, user_path(user)
          %li
            %small
              =pluralize(user.articles.count, 'article') if user.articles
        -if logged_in? and current_user.admin?
          %li
          %span{:class => "glyphicon glyphicon-remove"}
          = link_to "Delete this user", user_path(user), class: "down-border btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete the user and all their articles?"}
  %div{align: 'center'}
    = will_paginate
