.container
  %div{align: 'left'}
    %h1 All MyBlog Members
    -@users.each do |user|
      %ul.listing
        .row
          .well.col-md_4.col-md_offset_4
            %li
              =link_to gravatar_for(user), user_path(user)
            %li.article-title
              =link_to user.username, user_path(user)
            %li
              %small
                =pluralize(user.articles.count, 'article') if user.articles
