$navbar-default-bg: #337ab7;

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin-top: 50px;
}

#logo{
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.7em;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: left;
}

.jumbotron{
  background-image: asset-url('jumbotron');
  background-size: cover;
  height: 550px;
  background-position: center;
  margin-top: 50px;
}

.jumbotron h1{
  color: #fff;
}

.article-meta_details{
  border-top: 1px solid #337ab7;
  margin-top: 20px;
}

.article-actions{
  border-top: 1px solid #337ab7;
  padding: 15px;
}

.description{
  margin-top: 5px;
}

footer{
  border-top: 2px solid #337ab7;
  padding: 10px 0px;
  margin: 40px 0px 0px;
  font-size: 1.2em;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 10px;
}

span{
  padding-left: 5px;
}

blockquote{
  padding: 20px 40px;
  margin-left: 10px;
}

#desc{
  background-color: #6495ED;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.article-body{
  border-top: 1px solid #337ab7;
  padding-top: 15px;
  padding-bottom: 15px;
}
