%h1{:align => "center"}
  = "#{"Category: " + @category.name}"
-if logged_in? && current_user.admin?
  %div.container{align: "center"}
    %span.budge
      =link_to "Edit Category Name",
      edit_category_path(@category)
%div{align: 'center'}
  = will_paginate @category_articles
=render 'articles/article', obj: @category_articles
%div{align: 'center'}
  = will_paginate @category_articles
